
@{
    ViewData["Title"] = "Detail";
}

@model Drink
<div class="raw">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create Product</h4>

                    <div class="form-group">
                        <label asp-for="Name">Şəkil</label>
                        <div>      <img src="~/images/@Model.Image" width="100px" style="100px"></div>

                    </div>



                    <form class="forms-sample" method="post">


                        <div class="form-group">
                            <label asp-for="Name">Ad</label>
                            <input asp-for="Name" class="form-control">
                            <span asp-validation-for="Name" class="text-danger">  </span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Ingredients">Tərkib</label>
                            <textarea asp-for="Ingredients" class="form-control"></textarea>
                            <span asp-validation-for="Ingredients" class="text-danger">  </span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price">Qiymət</label>
                            <input asp-for="Price" class="form-control">
                            <span asp-validation-for="Price" class="text-danger">  </span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DrinkCategory.Name">Kateqoriya seçin</label>
                            <input asp-for="DrinkCategory.Name" class="form-control">
                            <span asp-validation-for="DrinkCategory.Name" class="text-danger">  </span>
                        </div>



                       
                        <a asp-action="Index" class="btn btn-secondary text-white">Geriyə</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    }

