@{
    ViewData["Title"] = "Create";
}
@model Reservation

@section Css{



}




@if (ViewBag.Tables.Count == 0)
{
    <div class=" card col-md-6 grid-margin stretch-card">
        <div class="card-body">

            <p class="text-danger" style="font-size:medium">
                Rezervasiya Yaratmaq üçün əvvəlcə Masa yaratmalısnız.
            </p>
            <br>
            </br>
            <a asp-controller="Tables" asp-action="Index" type="button" class="btn btn-info btn-rounded btn-fw"> Masa Yarat </a>
        </div>
    </div>
}
else
{
    <div class=" card col-md-6 grid-margin stretch-card">


        <div class="card-body">
            <h4 class="card-title">Rezervasiya Yarat</h4>
            <p class="card-description">
                Zəhmət olmasa bütün xanaları doldurun.
            </p>

            <form method="post" class="forms-sample">
                <div class="form-group">
                    <label asp-for="FullName">Ad və Soyad</label>
                    <input asp-for="FullName" class="form-control">
                    <span style="font-size:small" asp-validation-for="FullName" class="text-danger">  </span>
                </div>


                <div class="form-group">
                    <label asp-for="Notes">Qeydlər</label>
                    <input asp-for="Notes" class="form-control">
                    <span style="font-size:small" asp-validation-for="Notes" class="text-danger">  </span>
                </div>

                <div>

                    <label asp-for="Day">Gün</label>
                    <input asp-for="Day" name="day" type="date" class="form-control">
                    <span style="font-size:small" asp-validation-for="Day" class="text-danger">  </span>


                </div>



                <div class="form-group">
                    <label asp-for="StartTime">Başlanğıc Saat</label>
                    <input asp-for="StartTime" name="startTime" type="time" class="form-control">
                    <span style="font-size:small" asp-validation-for="StartTime" class="text-danger">  </span>
                </div>



                <div class="form-group">
                    <label asp-for="EndTime">Bitiş Saat</label>
                    <input asp-for="EndTime" name="endTime" type="time" class="form-control">

                    <span style="font-size:small" asp-validation-for="EndTime" class="text-danger">  </span>

                </div>



                <div>
                    <div class="form-group">
                        <label>Masa</label>
                        <select class="form-control" name="tableId">
                            @if (ViewBag.Tables != null)
                            {
                                @foreach (Table table in ViewBag.Tables)
                                {
                                    <option value="@table.Id">@table.Name</option>
                                }

                            }



                        </select>
                    </div>
                </div>




                <button type="submit" class="btn btn-primary mr-2">Təsdiqlə</button>
                <a asp-action="Index" class="btn btn-secondary text-white">Geriyə</a>

            </form>
        </div>
    </div>




}
@section Scripts{



}

