
@{
    ViewData["Title"] = "Create";
}

@model FoodCategory
<div class="raw">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Yemək Kateqoriyası Yarat</h4>
                    <p class="card-description">
                        Zəhmət olmasa məlumatları qeyd edin.
                    </p>
                    <br>
                </br>

                    <form class="forms-sample" method="post">
                        <div class="form-group">
                            <label asp-for="Name">Kateqoriya Adı</label>
                            <input asp-for="Name" class="form-control">
                            <span asp-validation-for="Name" class="text-danger">  </span>
                        </div>


                        <button type="submit" class="btn btn-primary mr-2">Təsdiqlə</button>
                        <a asp-action="Index" class="btn btn-secondary text-white">Geriyə</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
            <partial name="_ValidationScriptsPartial" />
    }


