<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
@model ForgotPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PolluxUI Admin</title>

    <!-- base:css -->
    <link rel="stylesheet" href="~/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/images/favicon.png" />

</head>

<body>

    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div class="brand-logo align-content-center">
                                <img src="~/images/logo-dark.svg" alt="logo">

                            </div>
                            <h5>Şifrənin Bərpası</h5>
                            <p style="color:red">*Şifrə Bərpası üçün Email Adresinizə link göndəriləcəkdir.</p>

                            <div asp-validation-summary="ModelOnly" class="text-danger">
                            </div>
                            <form class="pt-3" method="post">

                                <div class="form-group">
                                    <input asp-for="@Model.Email" class="form-control form-control-lg text-secondary" placeholder="Email">
                                </div>
                                <div>
                                    <span style="font-size:small" asp-validation-for="Email" class="text-danger text"></span>
                                </div>


                                <div class="mt-3">
                                    <button type="submit" id="forgotPasswordBtn" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Yeni Şifrə</button>
                                </div>
                                <div class="modal fade" id="resetLinkSentModal" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Reset Link Sent</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                A password reset link has been sent to your email.
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/template.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/todolist.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

    document.getElementById("forgotPasswordBtn").addEventListener("click", function () {
        // Send password reset request to the server
        $.ajax({
            type: "POST",
            url: "/Account/ForgotPassword",
            data: { email: email },
            success: function (response) {
                // Show the "Reset Link Sent" modal
                $("#resetLinkSentModal").modal("show");
            },
            error: function (error) {
                // Show an error message if there was a problem sending the password reset link
            }
        });
    });
</script>
</body>

</html>




