<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

@model ResetPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PolluxUI Admin</title>
    <!-- base:css -->
    <link rel="stylesheet" href="~/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div class="brand-logo">
                                <img src="~/images/logo-dark.svg" alt="logo">
                            </div>
                            <h5>Yeni Şifrə</h5>
                            <p style="color:red">*Şifrə Bərpası üçün zəhmət olmasa, məlumatları doldurun.</p>

                            <div asp-validation-summary="ModelOnly" class="text-danger">
                            </div>
                            <form class="pt-3" method="post">
                                <div>
                                    <input type="hidden" asp-for="Token"/>

                                </div>
                               
                                <div class="form-group">
                                    <input asp-for="Email" class="form-control form-control-lg text-secondary" placeholder="Email">
                                </div>
                                <div>
                                    <span style="font-size:small" asp-validation-for="Email" class="text-danger text"></span>
                                </div>

                                <div class="form-group">
                                    <input asp-for="Password" class="form-control form-control-lg" placeholder="Şifrə">
                                </div>
                                <div>
                                    <span style="font-size:small"  asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                      <div class="form-group">
                                    <input asp-for="ConfirmPassword" class="form-control form-control-lg" placeholder="Şifrə Təsdiqi">
                                </div>
                                <div>
                                    <span style="font-size:small"  asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>


                                <div class="mt-3">
                                    <button type="submit" class="btn btn-block btn-primary  font-weight-medium auth-form-btn">Təsdiqlə</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- base:js -->
    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/template.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/todolist.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!-- endinject -->
<script>
        $.ajax({
            type: "POST",
            url: "/Account/ResetPassword",
            data: { token: token, password: password },
            success: function (response) {
                if (response.success) {
                    // Show a pop-up message indicating that the password has been reset successfully
                    alert("Şifrə Yeniləndi!");
                    // redirect user to login page
                    window.location.href = '/Account/Login'
                } else {
                    alert("Xəta aşkarlandı!");
                }
            }
        });
</script>

</body>

</html>




